<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="background-color:rgb(157, 215, 223);">
    <h1>Hello my name is {{ name }}</h1><br />
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/39748452_1923938471001848_7467489041454202880_n.jpg?_nc_cat=0&oh=8ed830c9170c88b432bc4e69ba6bf3e6&oe=5C256966" alt="my pic" height="400" width="400">
    <!--<article>-->
        <pre><span  class="inner-pre" style="font-size: 17px; font-family: 'Times New Roman', Times, serif">NPM : {{ npm }}

I am {{ age }} years old

I'm currently studying at University of Indonesia

My hobby is actually finding out about someone else's hobby

I would describe myself as a reserved person and far from outspoken. 
I'm also and avid fan of football and fishing.
Even though I am 19 years old but I still enjoy watching Spongebob and Tom and Jerry.
Listening to music is a vital part in my efforts to maintain sanity</span>

    </pre>

   <!-- </article> -->

    <!-- <article>I am {{ age }} years old</article><br />
    <article>I'm currently studying at University of Indonesia</article><br />
    <article>My hobby is actually finding out about someone else's hobby</article><br />-->
    


</body>
</html>
